################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ArmyBuilder/ArmyBuilder.Core/bin
/ArmyBuilder/ArmyBuilder.Core/obj
/ArmyBuilder/ArmyBuilder.Test/bin
/ArmyBuilder/ArmyBuilder.Test/obj
/ArmyBuilder/ArmyBuilder.Windows/bin/
/ArmyBuilder/ArmyBuilder.Windows/obj/
/ArmyBuilder/ArmyBuilder.UWP/bin/
/ArmyBuilder/ArmyBuilder.UWP/obj/
/ArmyBuilder/Slycoder/bin
/ArmyBuilder/Slycoder/obj
/packages
/.vs
bin/
obj/
*.suo
