################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ArmyBuilder/ArmyBuilder.Core/bin
