@page
@using ArmyBuilder.Web.Pages
@model IndexModel
@{
    Layout = "_Layout"; 
}

<h1>@Model.Title</h1>


    <div class="row">
        <p>hi</p>
        <p><button type="button" class="btn btn-primary">default</button></p>
    </div>
